.home-container {
  background-color: #f8f9fa;
}

.hero-section {
  text-align: center;
  color: rgb(0, 0, 0);
  // background-image: url('https://script.viserlab.com/matrixlab/assets/images/frontend/banner/63664ca4921571667648676.jpg');
  // background-image: url('https://script.viserlab.com/mlmlab/assets/images/frontend/banner/636a0148129cb1667891528.jpg');
  // background-image: url('https://plus.unsplash.com/premium_photo-1673203734665-0a534c043b7f?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-image: url('https://images.unsplash.com/photo-1553123428-247ffbd12d90?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  /* background-image: radial-gradient(circle 1000px at 100% 400px, #b7a2ed, transparent); */
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0 200px;
  position: relative;
}

.hero-section::before {
  // background: -webkit-linear-gradient(-90deg, #124656 0%, #063a4a 45%, #063b46 100%);
  background-image: radial-gradient(circle 1000px at 95% 400px, #9f7cf7, transparent);
  position: absolute;
  top: 0;
  left: 0;
  opacity: .8;
  content: "";
  width: 100%;
  height: 100%;
}

.hero-content {
  color: #ffffff;
  max-width: 665px;
  margin: 0 auto;
  position: relative;
  z-index: 999;
  /* background-image: linear-gradient(90deg,#f0f0f0 1px,transparent 0),linear-gradient(180deg,#f0f0f0 1px,transparent 0); */
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.highlight {
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.hero-section p {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero-btn {
  background-color: white;
  color: #ff6600;
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: #f1f1f1;
}

/* ✅ Background animation keyframes */
@keyframes moveBg {
  from {
    transform: rotate(25deg) translate(0, 0);
  }

  to {
    transform: rotate(25deg) translate(50px, 50px);
  }
}

@media (max-width:768px){
  .hero-section {
       padding: 200px 1rem 200px;
  }
}